node_modules

.DS_Store

/packages/*/dist
/packages/*/editor
/packages/*/lib
/packages/*/static
/packages/*/build
/packages/*/output

.rollup.cache
tsconfig.tsbuildinfo

.idea
id.txt

.nx


.nx/cache
.nx/workspace-data
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
.npmrc
